<!DOCTYPE html>
<html>
    <head>
        <title>My Project</title>
        <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
        <link rel="stylesheet" href="https://code.getmdl.io/1.2.0/material.indigo-pink.min.css">
        <script defer src="https://code.getmdl.io/1.2.0/material.min.js"></script>
    </head>

    <body>
        <header>
            Aqui tem um topo bacanão.
        </header>

        <div class="main">
            {% block content %}

            {% endblock content %}
        </div>
        <footer>
            Rodapé do site
        </foorte
    </body>
</html>
