{% extends "base.html" %}

{% block content %}

<div class="page-header">
  <h1>Sobre nós</h1>
</div>


<h2>Grupo Mulheres do Brasil</h2>
<p>Composto por MULHERES DE VÁRIOS SEGMENTOS de todo o BRASIL que se reúnem mensalmente para DISCUTIR E PROPOR AÇÕES em temas ligados à educação, empreendorismo, cota para mulheres e projetos sociais. </p>

<br>

<h2>INEGOCIÁVEIS</h2>
<ul class="list-group">
    <li class="list-group-item">Somos APARTIDÁRIAS</li>
    <li class="list-group-item">Não somos contra os homens, mas A FAVOR DAS MULHERES</li>
    <li class="list-group-item">Não "reinventamos a roda"</li>
    <li class="list-group-item">Temos uma AGENDA PROPOSITIVA com planos de ação</li>
    <li class="list-group-item">Pensamos o BRASIL COMO UM TODO</li>
</ul>

<p>Esta aplicação não está relacionada a nenhum orgão de governo, autoridade pública, empresa pública ou sociedade econômica. </p>

{% endblock content %}