{% extends "base.html" %}

{% block title %} - Busca candidatas{% if query %} {{ query }} {% endif %}{% endblock title %}

{% block content %}

<div class="page-header">
  <h1>Busca de candidatas <small>{% if query %} "{{ query }}" {% endif %}</small></h1>
</div>

<form class="form-inline">
  <div class="form-group input-group-lg">
    <input type="text" class="form-control" name="query" placeholder="Candidata ou número">
  </div>
  <button type="submit" class="btn btn-primary btn-lg">Buscar</button>
</form>

<br><br>

{% if query %}
{% if candidates_list %}
<ul class="list-group">
{% for candidates in candidates_list %}
<li class="list-group-item">
    <div class="media">
        <div class="media-left media-middle">
            <a href="{% url 'candidate_detail' candidates.id %}">
            <img class="media-object" src="{{ candidates.picture_url }}" width="64">
            </a>
        </div>
        <div class="media-body">
            <h4 class="media-heading">{{ candidates.name_ballot }}</h4>
            {{ candidates.name }}<br>
            {{ candidates.political_party.initials }}<br>
            {{ candidates.number }}
        </div>
    </div>
</li>
{% endfor %}
</ul>
{% else %}
<div class="alert alert-warning" role="alert">Não foi encontrado nenhum resultado.</div>
{% endif %}
{% endif %}

{% endblock content %}