{% extends "base.html" %}


{% block content %}

<div class="page-header">
  <h1>{{ candidate.name_ballot }} <small>{{ candidate.number }}</small></h1>
</div>

<div class="panel panel-default">
<!-- Default panel contents -->
    <div class="panel-heading">
        <h3 class="panel-title">Perfil</h3>
    </div>
    <div class="panel-body">

        <div class="media">
            <div class="media-left media-top">
                <a href="#">
                <img class="media-object" src="{{ candidate.picture_url }}">
                </a>
            </div>
            <div class="media-body">
                <h4 class="media-heading">{{ candidate.name }}</h4>
                <br>
                <p><b>Cargo: </b>{{ candidate.job_role.name }}</p>
                <p><b>Número na urna: </b>{{ candidate.number }}</p>
                <p><b>Partido: </b>{{ candidate.political_party.name }} - {{ candidate.political_party.number }}</p>
                <p><b>Coligação: </b>{{ candidate.coalition }}</p>
                <p><b>Eleita em 2012: </b>{% if candidate.elected == True %} Sim {% else %} Não {% endif %}</p>
                <p><b>Reeleição: </b>{% if candidate.reelection == True %} Sim {% else %} Não {% endif %}</p>
            </div>
        </div>
    </div>
</div>

{% endblock content %}
