{% extends "base.html" %}

{% block content %}

{% if candidates_list %}
<div class="page-header">
  <h1>Candidatas do <small> {{ title }} </small></h1>
</div>

<ul class="list-group">
{% for candidates in candidates_list %}
<li class="list-group-item">
    <div class="media">
        <div class="media-left media-middle">
            <a href="{% url 'candidate_detail' candidates.id %}">
            <img class="media-object" src="{{ candidates.picture_url }}" width="64">
            </a>
        </div>
        <div class="media-body">
            <h4 class="media-heading">{{ candidates.name_ballot }}</h4>
            {{ candidates.name }}<br>
            {{ candidates.political_party.initials }}<br>
            {{ candidates.number }}
        </div>
    </div>
</li>
{% endfor %}
</ul>

<nav aria-label="...">
    <ul class="pager">
        {% if candidates_list.has_previous %}
        <li><a href="?page={{ candidates_list.previous_page_number }}">Anterior</a></li>
        {% endif %}
        <li>Página {{ candidates_list.number }} de {{ candidates_list.paginator.num_pages }}</li>
        {% if candidates_list.has_next %}
        <li><a href="?page={{ candidates_list.next_page_number }}">Próxima</a></li>
        {% endif %}
    </ul>
</nav>
{% else %}
<div class="alert alert-warning" role="alert">Não foi encontrado nenhum resultado.</div>
{% endif %}

{% endblock content %}
