{% extends "base.html" %}


{% block content %}

<div class="jumbotron">
    <h1>AppartidariAs</h1>
    <p>“Acreditamos que é necessário reformular os espaços partidários e garantir a melhor representação de todos os setores da sociedade na formulação das políticas, como um dos meios adequados para a construção de uma nova sociedade, mais inclusiva, mais democrática e mais justa”</p>
</div>

<div class="container">
<!-- Example row of columns -->
    <div class="row">
        <div class="col-md-4">
            <h2>Candidatas</h2>
            <p>Estão a disposição a lista das candidatas por nome, as informações sobre suas candidaturas (extraídas do site do TSE) e campos para que todos cidadãos e cidadãs possam inserir informações sobre as candidatas.</p>
            <p><a class="btn btn-default" href="#" role="button">Clique aqui &raquo;</a></p>
        </div>
        <div class="col-md-4">
            <h2>Partidos</h2>
            <p>Você poderá monitorar suas candidatas por partido ou coligação, observar os dados de suas campanhas e nos auxiliar a inserir suas pautas e projetos.</p>
            <p><a class="btn btn-default" href="#" role="button">Clique aqui &raquo;</a></p>
        </div>
        <div class="col-md-4">
            <h2>Pautas</h2>
            <p>Você poderá monitorar suas candidatas a partir de pautas que sejam caras a você. Se você tiver dados sobre as campanhas de candidatas que apresentam essas pautas, por favor, nos informe!</p>
            <p><a class="btn btn-default" href="#" role="button">Veja mais &raquo;</a></p>
        </div>
    </div>
</div>

{% endblock content %}