{% extends "base.html" %}


{% block content %}

<!-- header content -->
<section class="container-fluid home">
  <div class="container">
    <div class="row justify-content-center">
        <div class="col-12 col-md-2">
          <img src="/static/img/logo_appartidarias.png" class="img-fluid" alt="appartidárias" />
        </div>
        <div class="col-12 col-md-5 mt-4">
          <h1 class="mb-3">Por mais mulheres eleitas no legislativo</h1>
        </div>
    </div>
  </div>
</section>
<!-- /header content -->


<section class="candidates">

  <div class="filter-box">
    <div class="container">

      <div class="row justify-content-center">
        <div class="col-12 col-md-6 text-center">
          <p>Nós, mulheres, somos 51,5% da população brasileira e 52% de todo o eleitorado do país,  mas somos apenas 10% no legislativo. Políticas públicas para mulheres são melhor pensadas e elaboradas por mulheres. Busque sua candidata por aqui</p>

          <h2>Veja os partidos que mais apoiam candidaturas femininas</h2>

          <!-- lista cargo -->
          <div class="col-sm">
            <div class="form-group">
              <select class="selectpicker" data-live-search="true" id="cargo">
                <option>Presidente</option>
                <option>Governadora</option>
                <option>Senadora</option>
              </select>
            </div>
          </div>
          <!-- /lista cargo -->

          <!-- lista partidos -->
          <div class="col-sm">
            <div class="form-group">
              <select class="selectpicker" data-live-search="true" id="partido">
                <option>MDB</option>
                <option>PTB</option>
                <option>PDT</option>
                <option>PT</option>
                <option>DEM</option>
                <option>PCdoB</option>
                <option>PSB</option>
                <option>PSDB</option>
                <option>PTC</option>
                <option>PSC</option>
                <option>PMN</option>
                <option>PRP</option>
                <option>PPS</option>
                <option>PV</option>
                <option>AVANTE</option>
                <option>PP</option>
                <option>PSTU</option>
                <option>PCB</option>
                <option>PRTB</option>
                <option>PHS</option>
                <option>DC</option>
                <option>PCO</option>
                <option>PODE</option>
                <option>PSL</option>
                <option>PRB</option>
                <option>PSOL</option>
                <option>PR</option>
                <option>PSD</option>
                <option>PPL</option>
                <option>Patri</option>
                <option>PROS</option>
                <option>SOLIDARIEDADE</option>
                <option>NOVO</option>
                <option>REDE</option>
                <option>PMB</option>
              </select>
            </div>
          </div>
          <!-- /lista partidos -->

          <!-- lista estado -->
          <div class="col-sm">
            <div class="form-group">
              <select class="selectpicker" data-live-search="true" id="estado">
                <option>Acre</option>
                <option>Alagoas</option>
                <option>Amapá</option>
                <option>Amazonas</option>
                <option>Bahia</option>
                <option>Ceará</option>
                <option>Distrito Federal</option>
                <option>Espírito Santo</option>
                <option>Goiás</option>
                <option>Maranhão</option>
                <option>Mato Grosso</option>
                <option>Mato Grosso do Sul</option>
                <option>Minas Gerais</option>
                <option>Pará</option>
                <option>Paraíba</option>
                <option>Paraná</option>
                <option>Pernambuco</option>
                <option>Piauí</option>
                <option>Rio de Janeiro</option>
                <option>Rio Grande do Norte</option>
                <option>Rio Grande do Sul</option>
                <option>Rondônia</option>
                <option>Roraima</option>
                <option>Santa Catarina</option>
                <option>São Paulo</option>
                <option>Sergipe</option>
                <option>Tocantins</option>
              </select>
            </div>
          </div>
          <!-- /lista estado -->

          <!-- lista pauta -->
          <div class="col-sm">
            <div class="form-group">
              <select class="selectpicker" data-live-search="true" id="pauta">
                <option>Selecione a pauta</option>
                <option>pauta 1</option>
                <option>pauta 2</option>
                <option>pauta 3</option>
              </select>
            </div>
          </div>
          <!-- /lista pauta -->

        </div>
      </div>
      

    </div>
    </div><!--/filterbox-->

    <div class="container">
    <div class="row">

      <!-- candidata -->
      <div class="media">
        <img class="mr-1 col-3 col-md-1" src="/static/img/dilma.jpg" alt="Nome da candidata">
        <div class="media-body col-5 col-md-9">
          <h5 class="mt-0">Nome Candidata</h5>
          Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin. Cras purus odio, vestibulum in vulputate at, tempus viverra turpis. Fusce condimentum nunc ac nisi vulputate fringilla. Donec lacinia congue felis in faucibus.
        </div>
        <div class="mr-1 col-1">
          <img src="/static/img/checked.svg" class="icon" alt="Candidatura Ok" />
        </div>
        <div class="col-1">
          <img src="https://upload.wikimedia.org/wikipedia/commons/5/5e/Partido_da_Social_Democracia_Brasileira_%28logo%29.jpg" class="partido" alt="Candidatura Ok" />
        </div>
      </div>
      <!-- /candidata -->

      <!-- candidata -->
      <div class="media">
        <img class="mr-1 col-3 col-md-1" src="/static/img/dilma.jpg" alt="Nome da candidata">
        <div class="media-body col-5 col-md-9">
          <h5 class="mt-0">Nome Candidata</h5>
          Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin. Cras purus odio, vestibulum in vulputate at, tempus viverra turpis. Fusce condimentum nunc ac nisi vulputate fringilla. Donec lacinia congue felis in faucibus.
        </div>
        <div class="mr-1 col-1">
          <img src="/static/img/checked.svg" class="icon" alt="Candidatura Ok" />
        </div>
        <div class="col-1">
          <img src="https://upload.wikimedia.org/wikipedia/commons/5/5e/Partido_da_Social_Democracia_Brasileira_%28logo%29.jpg" class="partido" alt="Candidatura Ok" />
        </div>
      </div>
      <!-- /candidata -->

    </div>

  </div>
</section>


<section class="container-fluid">
  <div class="row achievement">
    <div class="col-12 col-md-6 text-center">
      <h1>Realização</h1>
      <img src="/static/img/logo_mulheres.png" class="col-md-3" alt="Mulheres do Brasil" />
    </div>
    <div class="col-12 col-md-6 text-center">
      <h2>Apoio</h2>
      <img src="/static/img/logo_dux.png" class="col-md-3" alt="Mulheres do Brasil" />
    </div>
  </div>
</section>

<!-- <div class="container">
    <div class="row">
        <div class="col-md-4">
            <h2>Candidatas</h2>
            <p>Estão a disposição a lista das candidatas por nome, as informações sobre suas candidaturas (extraídas do site do TSE) e campos para que todos cidadãos e cidadãs possam inserir informações sobre as candidatas.</p>
            <p><a class="btn btn-primary" href="{% url 'candidate_search' %}" role="button">Clique aqui &raquo;</a></p>
        </div>
        <div class="col-md-4">
            <h2>Partidos</h2>
            <p>Você poderá monitorar suas candidatas por partido ou coligação, observar os dados de suas campanhas e nos auxiliar a inserir suas pautas e projetos.</p>
            <p><a class="btn btn-primary" href="{% url 'political_party_list' %}" role="button">Clique aqui &raquo;</a></p>
        </div>
        <div class="col-md-4">
            <h2>Pautas</h2>
            <p>Você poderá monitorar suas candidatas a partir de pautas que sejam caras a você. Se você tiver dados sobre as campanhas de candidatas que apresentam essas pautas, por favor, nos informe!</p>
            <p><a class="btn btn-primary" href="{% url 'agenda_list' %}" role="button">Clique aqui &raquo;</a></p>
        </div>
    </div>
</div> -->

{% endblock content %}